@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import url("./base/typography.css");
@import url("./components/button.css");
@import url("./components/input.css");
@import url("./components/list.css");
@import url("./layout/application.css");
@import url("./layout/footer.css");
@import url("./layout/header.css");
@import url("./layout/rules.css");
@import url("./utils/utilities.css");
@import url("./utils/variables.css");

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
