.application__examples {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.application__examples p {
  font-size: 20px;
  font-weight: 700;
}

.application__examples__list {
  margin: 0 0 0 16px;
}

.application__examples__list li {
  font-style: italic;
  margin-top: 6px;
}

.application__examples__list li:first-child {
  margin-top: 0;
}

.application__input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.application__input label {
  font-size: 20px;
  font-weight: 700;
}

.isBalanced {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
