.application__examples {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.application__examples__list li {
  width: fit-content;
  cursor: pointer;
}

.application__examples__list li:hover {
  text-decoration: underline;
  color: var(--light-green-color);
}

.application__input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.isBalanced {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
