.application__examples {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.application__examples__list li {
  width: fit-content;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.application__examples__list li p:hover {
  text-decoration: underline;
  color: var(--light-green-color);
  cursor: pointer;
}

.application__examples__list li span {
  color: var(--light-gray-color);
}

.application__input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.isBalanced {
  color: var(--light-green-color);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
