.wrapper {
  background-color: white;
  min-height: 100vh;
  width: 550px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  border: 2px solid red;

  width: 95%;
  margin: 0 auto;
  padding: 16px 0;
}

.section__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.notDisplayed {
  display: none;
}
