.button {
  border: 1px solid var(--dark-green-color);
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 5%);
  cursor: pointer;
  transition: 0.4s all;

  background-color: var(--white-color);
  width: 100%;
  padding: 10px;

  color: var(--dark-green-color);
  font-size: 16px;
  font-weight: 700;
}

.button--secondary {
  background-color: var(--light-orange-color);
  border: none;
  color: var(--white-color);
}

.button:hover {
  background-color: var(--dark-green-color);
  color: var(--white-color);
}

.button--secondary:hover {
  background-color: var(--dark-orange-color);
}

.isFocus {
  background-color: var(--dark-green-color);
  color: var(--white-color);
}
